body{
    background: url(images/calavera.webp);
}

h2{
    font-size: 150px;
    color: red;
    text-align: center;
}

.button{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 200px;
    height: 150px;

}