@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap");
/*
En las lineas 103 y 111 se encuentra el uso del selector @media.
En la linea 117 esta ell ejemplo del uso de anidamiento.
En las lineas 234, 263 y 269 estan los ejemplos de herencia.

*/
* {
  padding: 0px;
  margin: 0px;
}

.nav-bar,
ul {
  display: flex;
  position: relative;
  background-color: #F1F9F6;
  padding: 25px;
  align-items: flex-start;
}

.nav-bar a {
  margin: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  text-decoration: none;
}

body {
  background: #0cDDD3;
  background: linear-gradient(to right, #D1EEE1, #0CDDD3);
}

a:visited {
  color: #3A5795;
}

a:hover {
  color: #bd0c7f;
}

a:link {
  color: #F1099F;
}

ul li {
  list-style: none;
}

#titulo, .encabezado_tabla, #titulo_personajes, #galeria_titulo {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px;
  color: #bd0c7f;
  text-align: center;
}

.row {
  --bs-gutter-x: 0 !important;
}

.card {
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 6px 12px 0 rgb(179, 214, 0);
  transform: translateY(-3%);
}

.card img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: 0% 0%;
}

.card .btn {
  background-color: #3A5795;
  font-family: fantasy;
  color: black;
}

.card .btn:hover {
  color: white;
}

.card-text {
  font-family: "Roboto Mono", monospace;
}

@media (max-width: 576px) {
  .card {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .nav-bar, ul {
    padding: 15px;
  }
}
@media (min-width: 576px) {
  .card {
    margin-left: 20%;
    margin-bottom: 30px;
  }
}
.pie {
  width: 100%;
  background: #C04848;
  background: linear-gradient(to right, #480048, #C04848);
  box-sizing: border-box;
}
.pie .grupo-1 {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  padding: 15px 10px;
  background: #C04848;
  background: linear-gradient(to right, #480048, #C04848);
}
.pie .grupo-1 .redes-sociales a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0D2033;
  text-align: center;
}
.pie .grupo-1 .box p {
  color: #D1EEE1;
  margin-bottom: 10px;
}
.pie .grupo-1 .box h2 {
  margin-bottom: 25px;
  font-size: 20px;
}
.pie .grupo-1 .box .figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie .grupo-1 .box .figure image {
  width: 250px;
}

.pie .grupo-1 {
  text-align: center;
  justify-content: center;
  padding: 15px 10px;
  background-color: #7D487A;
  box-sizing: border-box;
}

.derechos {
  display: grid;
  place-items: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.grupo-1 {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
}

.box {
  padding: 0 10px;
}

#img-fo {
  margin-left: 20px;
}

.imagen-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

figure img {
  max-width: 100%;
  height: auto;
}

.imagenes {
  width: 100px;
}

#galeria_titulo {
  margin-bottom: 0 !important;
  font-family: "Roboto Mono", monospace;
}

.gallery {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 60px 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery_picture {
  min-width: 200px;
  flex: 350px;
  height: 300px;
}

.gallery_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#titulo_personajes {
  font-weight: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.encabezado_tabla {
  font-family: "Shantell Sans", cursive;
  font-size: 25px;
}

.datos_tabla {
  font-family: "Shantell Sans", cursive;
  color: #7fff00;
  font-size: 20px;
}

.table {
  background: url(images/Personajes/tabla.jpg);
  margin: 20px 0;
  border-collapse: collapse;
  width: 100%;
}

@media (max-width: 768px) {
  .table {
    max-width: 100%;
    overflow-x: auto;
  }
}
.img {
  margin-top: 50px;
  text-align: center;
}
.img img {
  width: 70%;
}

.informacion {
  margin-top: 30px;
  padding: 40px;
}

#texto-bienvenida {
  margin-bottom: 20px;
  margin-top: -5%;
  color: #302b63;
}

#texto-pregunta {
  color: #302b63;
}

.texto-desarrollo {
  color: #ec38bc;
}/*# sourceMappingURL=styles.css.map */